{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9 summary-view',
  rows: [
    {
      key: {text: "Application submitted"},
      value: {text: "15/10/2019, 10:30pm"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Claim start date"},
      value: {text: "22/10/2018"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "First name"},
      value: {text: "Fred"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Last name"},
      value: {text: "Flintstone"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "National Insurance number"},
      value: {text: "QQ123456C"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Date of birth"},
      value: {text: "05/01/1978"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
    },
    {
      key: {text: "Postcode"},
      value: {text: "NG1 5TY"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
    }
  ]
})}}