{% extends "layout_staff_v1.html" %}

{% block pageTitle %}
  Error - Before you can verify - Fred Flintstone - Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "v2/_header.html" %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#drs-confirm">Confirm that you have uploaded their application to DRS</a>
          </li>
        </ul>
      </div>
    </div>

    <form action="status-changing" method="post">
      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="nationality-hint status-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Before you can verify their claim</h1>
          </legend>
          <p>You now need to download their application form and upload it to DRS. Use the document type ‘ESA1 Digital’.</p>
          <p><a href="/public/pdf/Fred-Flintstone application-form.pdf" target="_blank">Fred Flintstone application form (opens a new tab)</a></p>
          <span id="status-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Confirm that you have uploaded their application to DRS
          </span>

          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="drs-confirm" name="drs-confirm" type="checkbox" value="drs-confirm" aria-describedby="hint-verified">
              <label class="govuk-label govuk-checkboxes__label" for="drs-confirm">
                I have uploaded this application form to DRS
              </label>
            </div>
          </div>{# /govuk-checkboxes #}
        </fieldset>
      </div>
      <p><a href="status-confirmation?status=verified&amp;nino={{getData.nino}}" class="govuk-button">Verify the claim</a></p>
    </form>
    
  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}