{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9 summary-view',
  rows: [
    {
      key: {text: "Disability Confident level"},
      value: {text: "Level 1: Committed"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Registration date"},
      value: {text: "15 October 2019, 10:30pm"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Approval date"},
      value: {text: "11 November 2019, 12:00am"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Expiry date"},
      value: {text: "10 November 2022, 11:59pm"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Level 1 commitments"},
      value: {text: "Work experience, work trials, job shadowing"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {    
      key: {text: "Contact name"},
      value: {text: "Albert Arkwright"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Email address"},
      value: {text: "arkwright@internet.com"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Phone number"},
      value: {text: "01234 567 890"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },          
    {
      key: {text: "Employer address"},
      value: {text: "Main Street, Balby, South Yorkshire, DN4 9ZZ"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
    },
    {
      key: {text: "Number of employees"},
      value: {text: "1 to 9 employees"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Industry sector"},
      value: {text: "Retail and sales"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Public sector classification"},
      value: {text: "None"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Area of operation"},
      value: {text: "Yorkshire"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Jobcentre group"},
      value: {text: "North Central"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    }, 
    {
      key: {text: "Jobcentre district"},
      value: {text: "South Yorkshire"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    }
  ]
})}}