{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v2/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v2/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v2/_key-details.html" %}
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }}

  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% include "v2/_applicant-details-approved.html" %}

  </div>

  {% if getData.status === "verified" %}
  {% else %}
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items status-verified" role="complementary">
        <h3 class="govuk-heading-m" id="claim-actions-title">Case actions</h3>
        <a href="/v2/status" class="govuk-button">Confirm employer status</a>
        <p><a href="/v2/dc-level">Change Disability Confident details</a></p>
        <p><a href="/v2/delete-employer">Delete employer</a></p>
      </aside>

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-one-third">
      
            <h2 class="heading-medium">Case history</h2>
            <ol class="dwp-timeline">
              <li class="dwp-timeline__entry">
                <h3 class="dwp-timeline__title">Case approved</h3>
                <p class="dwp-timeline__info">
                  <span class="govuk-visually-hidden visually-hidden">Case approved</span>
                  <span class="dwp-timeline__author">by John Smith</span>
                  <span class="dwp-timeline__date">11 November 2019 at 12:00</span>
                </p>
                <p class="dwp-timeline__body">
                  Employer is level 1 committed.
                </p>
              </li>
      
              <li class="dwp-timeline__entry">
                <h3 class="dwp-timeline__title">Employer applied</h3>
                <p class="dwp-timeline__info">
                  <span class="dwp-visually__hidden">Employer applied</span>
                  <span class="dwp-timeline__author">by John Smith</span>
                  <span class="dwp-timeline__date">	15 October 2019 at 10:30pm</span>
                </p>
                <p class="dwp-timeline__body">
                  Employer applied, case pending.
                </p>
              </li>
            </ol>
      
          </div>
        </div>
      </main>

    </div>{# /govuk-grid-column-one-third #}

  {% endif %}

</div>{# /govuk-grid-row #}

{% endblock %}