  
{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v2/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v2/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v2/_key-details.html" %}
{% endblock %}
{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }}

  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Confirm why you're rejecting the employer
            </h1>
          </legend>






          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cannot-verify" name="status" type="radio" value="cannot-verify" aria-describedby="hint-cannot-verify">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="cannot-verify">
                Unable to verify
              </label>
              <span id="hint-cannot-verify" class="govuk-hint govuk-radios__hint">You have not been able to verify their details.</span>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="duplicate" name="status" type="radio" value="duplicate" aria-describedby="hint-duplicate">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="duplicate">
                Duplicate record
              </label>
              <span id="hint-duplicate" class="govuk-hint govuk-radios__hint">They are already registered and we will update their details if necessary.</span>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="already-national" name="status" type="radio" value="already-national" aria-describedby="hint-already-national">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="already-national">
                Already registered on a national level
              </label>
              <span id="hint-already-national" class="govuk-hint govuk-radios__hint">The employer cannot register because they are already registered at a national level.</span>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="not-UK" name="status" type="radio" value="not-UK" aria-describedby="hint-not-UK">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="not-UK">
                Not based in the United Kingdom
              </label>
              <span id="hint-not-UK" class="govuk-hint govuk-radios__hint">The employer cannot register becauyse the scheme is only open to employers based in the United Kingdom.</span>
            </div>

          </div>


        </fieldset>

      </div>

      <button class="govuk-button">Continue</button>

    </form>

  </div>


</div>

{% endblock %}