{{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 summary-view',
    rows: [
      {
        key: {text: "Application submitted"},
        value: {text: "15/10/2019, 10:30pm"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Claim start date"},
        value: {text: "22/10/2018"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "First name"},
        value: {text: "Boots"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Reference number"},
        value: {text: "ABC123456"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Postcode"},
        value: {text: "NG1 5TY"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
      }
    ]
  })}}