{{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 summary-view',
    rows: [
      {
        key: {text: "Registration date"},
        value: {text: "15 October 2019, 10:30pm"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Disability Confident level"},
        value: {text: "Level 1: Committed"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      }, 
      {
        key: {text: "Commitments"},
        value: {text: "Work experience, work trials, job shadowing"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {    
        key: {text: "Contact name"},
        value: {text: "Daisy Mansfield"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Email address"},
        value: {text: "daisy@internet.com"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Phone number"},
        value: {text: "01234 567 890"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },          
      {
        key: {text: "Employer address"},
        value: {text: "1 Main Street, Suburb, Town, NG99 1NG"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
      },
      {
        key: {text: "Number of employees"},
        value: {text: "Over 250 employees"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Industry sector"},
        value: {text: "Agriculture"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Public sector classification"},
        value: {text: "None"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Area of operation"},
        value: {text: "East Midlands"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Jobcentre group"},
        value: {text: "North and East Midlands"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      }, 
      {
        key: {text: "Jobcentre district"},
        value: {text: "Lincolnshire, Nottinghamshire and Rutland"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      }
    ]
  })}}