{% extends "layout-staff.html" %}

{% block pageTitle %}
  Disibility Confidence
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Find a company</h1>
    <form action="/v2/search-entry" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="search">
          Enter the company name or a reference number
        </label>
        <input class="govuk-input govuk-input--width-20" id="search" name="search" type="text" autocomplete="off" value="{% if getData.nino %}{{getData.nino}}{% endif %}">
      </div>

      <a class="govuk-button" href="applicant?nino=QQ123456C&status=unverified">Find company</a>

    </form>
  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}