  
{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v1/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v1/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v1/_key-details.html" %}
{% endblock %}
{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="status-changing" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Confirm employer status
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="accepted" name="status" type="radio" value="accepted" aria-describedby="hint-accepted">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="accepted">
                Accepted
              </label>
              <span id="hint-accepted" class="govuk-hint govuk-radios__hint">An agent has confirmed the employer is accepted under the terms of the scheme.</span>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="action" name="status" type="radio" value="action" aria-describedby="hint-action">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="action">
                Action needed
              </label>
              <span id="hint-action" class="govuk-hint govuk-radios__hint">An agent needs to communicate with the employer about their status.</span>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rejected" name="status" type="radio" value="rejected" aria-describedby="hint-rejected">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="rejected">
                Rejected
              </label>
              <span id="hint-rejected" class="govuk-hint govuk-radios__hint">An agent has confirmed the employer cannot be accepted under the terms of the scheme.</span>
            </div>
          </div>{# /govuk-checkboxes #}

        </fieldset>
      </div>{# /govuk-form-group #}

      <p><a href="/v1/status-accepted?status=verified" class="govuk-button">Continue</a></p>

{#       <button type="submit" class="govuk-button">Continue</button> #}

    </form>

  </div>{# /govuk-grid-column-two-thirds #}


</div>{# /govuk-grid-row #}

{% endblock %}