{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v1/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v1/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v1/_key-details.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Employer registration confirmed</h1>
        <div class="govuk-panel__body">Now send them their Disability Confident information.</div>
      </div>

      <h2 class="govuk-heading-m">What to do next</h2>

        <ol class="govuk-list govuk-list--number">
          <li><a href="">Download their certificate</a></li>
          <li><a href="">Prepare a welcome email and attach the certificate</a></li>
        </ol>      

      <a class="govuk-button" href="/v1/applicant">Finish</a>


  </div>

</div>

{% endblock %}