  
{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v1/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v1/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v1/_key-details.html" %}
{% endblock %}
{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="status-changing" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Confirm employer status
            </h1>
          </legend>
          <input id="nino" name="nino" type="hidden" value="{{getData.nino}}">

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="verified" name="status" type="radio" value="verified" aria-describedby="hint-verified">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="verified">
                Accepted
              </label>
              <span id="hint-verified" class="govuk-hint govuk-radios__hint">An agent has confirmed the employer is accepted under the terms of the scheme.</span>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="verified" name="status" type="radio" value="verified" aria-describedby="hint-verified">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="verified">
                Pending
              </label>
              <span id="hint-verified" class="govuk-hint govuk-radios__hint">If no action is currently being taken.</span>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="verified" name="status" type="radio" value="verified" aria-describedby="hint-verified">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="verified">
                Renewal action
              </label>
              <span id="hint-verified" class="govuk-hint govuk-radios__hint">An agent needs to communicate with the employer about the renewal of their status.</span>
            </div>
          </div>{# /govuk-checkboxes #}

        </fieldset>
      </div>{# /govuk-form-group #}

      <p><a href="/v1/status-accepted?status=verified" class="govuk-button">Continue</a></p>

{#       <button type="submit" class="govuk-button">Continue</button> #}

    </form>

  </div>{# /govuk-grid-column-two-thirds #}


</div>{# /govuk-grid-row #}

{% endblock %}