{{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 summary-view',
    rows: [
      {
        key: {text: "Disability Confident level"},
        value: {text: "Level 1: Committed"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Level 1 commitments"},
        value: {text: "Job shadowing, work experience, work trials"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {    
        key: {text: "Contact name"},
        value: {text: "Albert Arkwright"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Email address"},
        value: {text: "arkwright@internet.com"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Phone number"},
        value: {text: "01234 567 890"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },          
      {
        key: {text: "Employer address"},
        value: {text: "Main Street, Balby, South Yorkshire, DN4 9ZZ"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
      },
      {
        key: {text: "Area of operation"},
        value: {text: "Yorkshire"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Number of employees"},
        value: {text: "2"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      },
      {
        key: {text: "Industry sector"},
        value: {text: "Retail and sales"},
        actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
      }
    ]
  })}}