<section class="dwp-key-details-bar dwp-print-hide" role="contentinfo" aria-label="Key details">
  <dl class="dwp-key-details-bar__contents govuk-width-container">
    <div class="dwp-key-details-bar__header">

      {% include "v3/_applicant-details-head.html" %}

      <dt class="govuk-visually-hidden">Status:</dt>
      <dd class="dwp-key-details-bar__status">
        {% if getData.status === "verified" %}
          Accepted
        {% elseif getData.status === "action" %}
          Action needed
        {% elseif getData.status === "rejected" %}
          Rejected          
        {% else %}
          New
        {% endif %}
      </dd>
    </div>
  </dl>
</section>