{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v3/_key-details.html" %}
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <br>

      <h1 class="govuk-heading-l">Registration details</h1>

      <h2 class="govuk-heading-m">Company details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact name
          </dt>
          <dd class="govuk-summary-list__value">
            Albert Arkwright
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            arkwright@internet.com
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            01234 567 890
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Main Street<br>Balby<br>South Yorkshire<br>DN4 9ZZ
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Area of operation
          </dt>
          <dd class="govuk-summary-list__value">
            Yorkshire
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of employees
          </dt>
          <dd class="govuk-summary-list__value">
            2
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Industry sector
          </dt>
          <dd class="govuk-summary-list__value">
            Retail and sales
          </dd>
        </div>
      <br>
      <p><a href="/v3/company-details">Change company details</a></p>
      </dl>



      <h2 class="govuk-heading-m">Disability Confident level</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Level signed up to
          </dt>
          <dd class="govuk-summary-list__value">
            Level 1: Committed
          </dd>
        </div>
      <br>
      <p><a href="/v3/dc-level">Change level</a></p>
      </dl>

      <h2 class="govuk-heading-m">Disability Confident commitments</h2>   
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Level 1 commitments
          </dt>
          <dd class="govuk-summary-list__value">
            Job shadowing<br>Work experience<br>Work trials
          </dd>
        </div>
      <br>
      <p><a href="/v3/dc-commitments-level-1">Change level 1 commitments</a></p>
      </dl>



      <br>

      <h2 class="govuk-heading-l">Case actions</h2>

      <p>You will need to check that this is not a duplicate of a current registration before you approve the company.</p>

      <a href="/v3/status" class="govuk-button">Approve registration</a>
      
      <p><a href="/v3/delete-employer">Delete company</a></p>

      
        <h2 class="govuk-heading-l">Case history</h2>
        <ol class="dwp-timeline">
          <li class="dwp-timeline__entry">
            <h3 class="dwp-timeline__title">Registration received</h3>
            <p class="dwp-timeline__info">
              <span class="dwp-timeline__date"> 15 October 2019 at 10:30am</span>
            </p>
          </li>
        </ol>
      
          </div>
        </div>
      </main>

    </div>

</div>

{% endblock %}