{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v2/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v2/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v2/_key-details.html" %}
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }}

  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% include "v2/_applicant-details.html" %}

  </div>

  {% if getData.status === "verified" %}
  {% else %}
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items status-verified" role="complementary">
        <h3 class="govuk-heading-m" id="claim-actions-title">Case actions</h3>
        <a href="/v2/status" class="govuk-button">Confirm employer status</a>
        <p><a href="/v2/dc-level">Change Disability Confident details</a></p>
        <p><a href="/v2/company-details">Change company details</a></p>
        <p><a href="/v2/delete-employer">Delete employer</a></p>
      </aside>

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-one-third">
      
            <h2 class="heading-medium">Case history</h2>
            <ol class="dwp-timeline">
              <li class="dwp-timeline__entry">
                <h3 class="dwp-timeline__title">Registration received</h3>
                <p class="dwp-timeline__info">
                  <span class="dwp-timeline__date"> 15 October 2019 at 10:30am</span>
                </p>
              </li>
            </ol>
      
          </div>
        </div>
      </main>

    </div>{# /govuk-grid-column-one-third #}
  {% endif %}

</div>{# /govuk-grid-row #}

{% endblock %}