{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v3/_key-details-approved.html" %}
{% endblock %}

{% block beforeContent %}

{# {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }} #}

{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-4">

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Registration details</h1>

    <h2 class="govuk-heading-m">Company details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact name
        </dt>
        <dd class="govuk-summary-list__value">
          Reginald Perrin
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> contact name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          perrin@internet.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> email address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          02345 678 910
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          Main Street<br>Bromley<br>BR9 8QQ
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Area of operation
        </dt>
        <dd class="govuk-summary-list__value">
          Nationwide
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> area of operation</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of employees
        </dt>
        <dd class="govuk-summary-list__value">
          140
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> number of employees</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Industry sector
        </dt>
        <dd class="govuk-summary-list__value">
          Manufacturing and engineering
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> industry sector</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Disability Confident details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Level
        </dt>
        <dd class="govuk-summary-list__value">
          Committed: level 1
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/dc-level">
            Change<span class="govuk-visually-hidden"> level signed up to</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Activities
        </dt>
        <dd class="govuk-summary-list__value">
          Apprenticeships<br>Job shadowing<br>Paid employment<br>Sector-based work academy placements<br>Work experience
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/dc-commitments-level-1">
            Change<span class="govuk-visually-hidden"> activities</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Badge sent
        </dt>
        <dd class="govuk-summary-list__value">
          12 October 2019
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> start date</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Badge expiry date
        </dt>
        <dd class="govuk-summary-list__value">
          12 October 2022
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> expiry date</span>
          </a>
        </dd>
      </div>
    </dl>
  
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items status-verified" role="complementary">

      <h2 class="govuk-heading-m">Case actions</h2>
      <p><a href="/v3/de-register-employer">De-register employer</a></p>
      <p><a href="/v3/delete-approved-employer">Delete employer</a></p>

      <h2 class="govuk-heading-m">Case history</h2>
      <ol class="dwp-timeline">
        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title">Registration approved</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by John Smith</span>
            <span class="dwp-timeline__date">16 October 2019 at 1:30pm</span>
          </p>
        </li>

        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title">Registration received</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__date">	15 October 2019 at 10:30am</span>
          </p>
        </li>
      </ol>


    </aside>
  </div>

</div>

{% endblock %}