{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v3/_key-details.html" %}
{% endblock %}

{% block beforeContent %}

{# {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }} #}

  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-inset-text govuk-inset-text--blue">
  <p>Check that this is not a duplicate of a current registration before you approve the company.</p>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Registration details</h1>

    <h2 class="govuk-heading-m">Company details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact name
        </dt>
        <dd class="govuk-summary-list__value">
          Albert Arkwright
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> contact name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          arkwright@internet.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> email address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          01234 567 890
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Alternative phone number
        </dt>
        <dd class="govuk-summary-list__value">
          07890 987 654
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> alternative phone number</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          Main Street<br>Balby<br>South Yorkshire<br>DN4 9ZZ
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Area of operation
        </dt>
        <dd class="govuk-summary-list__value">
          Yorkshire
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> area of operation</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of employees
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> number of employees</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Industry sector
        </dt>
        <dd class="govuk-summary-list__value">
          Retail and sales
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/company-details">
            Change<span class="govuk-visually-hidden"> industry sector</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Disability Confident details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Level
        </dt>
        <dd class="govuk-summary-list__value">
          Committed: level 1
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/dc-level">
            Change<span class="govuk-visually-hidden"> level signed up to</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Activities
        </dt>
        <dd class="govuk-summary-list__value">
          Job shadowing<br>Work experience<br>Work trials
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v3/dc-commitments-level-1">
            Change<span class="govuk-visually-hidden"> level 1 commitments</span>
          </a>
        </dd>
      </div>
    </dl>
      
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items status-verified" role="complementary">

      <h2 class="govuk-heading-m">Case actions</h2>
      <a href="/v3/jobcentre-relationship" class="govuk-button">Accept registration</a>
      <p><a href="/v3/status-reason-for-rejection">Reject registration</a></p>
{#       <p><a href="/v3/delete-employer">Delete employer</a></p> #}
      
      <h2 class="govuk-heading-m">Case history</h2>
      <ol class="dwp-timeline">
        <!-- <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title">Registration approved</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by John Smith</span>
            <span class="dwp-timeline__date">16 October 2019 at 1:30pm</span>
          </p>
        </li> -->

        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title">Registration received</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__date">	15 October 2019 at 10:30am</span>
          </p>
        </li>
      </ol>

    </aside>
  </div>

</div>

{% endblock %}