{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v3/_key-details.html" %}
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }}

  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Change company details</h1>

      <form class="form" action="/v3/applicant" method="post">

     <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Contact details
          </h2>
        </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Company name
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text" value="Arkwright's">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Contact name
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text" value="Albert Arkwright">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Email address
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text" value="arkwright@internet.com">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Phone number
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text" value="01234 567 890">
      </div>

    </fieldset>

     <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Company address
          </h2>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
          </label>
          <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" value="Main Street">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
          </label>
          <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" value="Balby">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text" value="South Yorkshire">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" value="DN4 9ZZ">
        </div>

      </fieldset>

     <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Type of company
          </h2>
        </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Area of operation
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="East of England">East of England</option>
          <option value="East Midlands">East Midlands</option>
          <option value="London">London</option>
          <option value="National">National</option>
          <option value="North East">North East</option>
          <option value="North West">North West</option>
          <option value="Northern Ireland">Northern Ireland</option>
          <option value="Scotland">Scotland</option>
          <option value="South East">South East</option>
          <option value="South West">South West</option>
          <option value="Wales">Wales</option>
          <option value="West Midlands">West Midlands</option>
          <option value="Yorkshire" selected>Yorkshire</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Number of employees
        </label>
        <input class="govuk-input govuk-input--width-5" id="event-name" name="event-name" type="text" value="2">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Industry sector
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="Administration">Administration</option>
          <option value="Agriculture" selected>Agriculture</option>
          <option value="Armed forces">Armed forces</option>
          <option value="Arts and media">Arts and media</option>
          <option value="Beauty and therapy">Beauty and therapy</option>
          <option value="Care, childcare or social care">Care, childcare or social care</option>
          <option value="Construction">Construction</option>
          <option value="Contact centres">Contact Centres</option>
          <option value="Customer service">Customer service</option>
          <option value="Education and teaching">Education and teaching</option>
          <option value="Energy and utilities">Energy and utilities</option>
          <option value="Facilities management">Facilities management</option>
          <option value="Financial services">Financial services</option>
          <option value="Health">Health</option>
          <option value="Hospitality, leisure and tourism">Hospitality, leisure and tourism</option>
          <option value="Information technology and telecoms">Information technology and telecoms</option>
          <option value="Manufacturing and engineering">Manufacturing and engineering</option>
          <option value="Public sector">Public sector</option>
          <option value="Recruitment agencies">Recruitment agencies</option>
          <option value="Retail and sales" selected>Retail and sales</option>
          <option value="Security and safety">Security and safety</option>
          <option value="Sports and recreation">Sports and recreation</option>
          <option value="Transport and logistics">Transport and logistics</option>
          <option value="Voluntary, charity and social enterprise">Voluntary, charity and social enterprise</option>
          <option value="Other">Other</option>
        </select>
      </div>

      </fieldset>

      <button class="govuk-button" data-module="govuk-button">Update employer record</button>

      <p><a href="/v3/applicant" class="govuk-link">Cancel</a></p>

    </form>

  </div>

</div>

{% endblock %}