{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v3/_key-details.html" %}
{% endblock %}

{% block beforeContent %}

{# {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }} #}

  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="/v3/applicant" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Disability Confident level
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="level-1" name="dc-level" type="radio" value="Committed" checked>
              <label class="govuk-label govuk-radios__label" for="level-1">
                Level 1: Committed
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="level-2" name="dc-level" type="radio" value="Employer">
              <label class="govuk-label govuk-radios__label" for="level-2">
                Level 2: Employer
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="level-3" name="dc-level" type="radio" value="Leader">
              <label class="govuk-label govuk-radios__label" for="level-3">
                Level 3: Leader
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Update employer record</button>

      <p><a href="/v3/applicant" class="govuk-link">Cancel</a></p>

    </form>

  </div>

</div>

{% endblock %}