{% extends "layout-staff.html" %}

{% block pageTitle %}
  Delete company - {% include "v3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v3/_key-details-approved.html" %}
{% endblock %}

{% block beforeContent %}

{# {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }} #}

  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Are you sure you want to delete Sunshine Desserts?</h1>

    <p>The company record will be deleted. This action cannot be undone.</p>

    <a class="govuk-button" href="/v3/search">Yes, delete</a>

    <p><a href="/v3/applicant-approved" class="govuk-link">Cancel</a></p>

  </div>

</div>

{% endblock %}