{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v3/_key-details.html" %}
{% endblock %}

{% block beforeContent %}

{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }}

  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/v3/status-accepted" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is the company a specific type of public sector employer?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Clinical commissioning group
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                Fire
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                Government
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                Local authority
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-5" name="where-do-you-live" type="radio" value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-5">
                Member of Parliament (MP)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-6" name="where-do-you-live" type="radio" value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
                NHS trust
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-7" name="where-do-you-live" type="radio" value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-7">
                Police
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-8" name="where-do-you-live" type="radio" value="abroad">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-8">
                The company is not a public sector employer
              </label>
            </div>
          </div>
        </fieldset>
      </div>







      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which jobcentre district does the employer match to?
            </h1>
          </legend>
          <label class="govuk-label" for="sort">
            District
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="Avon, Somerset and Gloucestershire">Avon, Somerset and Gloucestershire</option>
            <option value="Bedfordshire and Hertfordshire">Bedfordshire and Hertfordshire</option>
            <option value="Berkshire, Buckinghamshire and Oxfordshire">Berkshire, Buckinghamshire and Oxfordshire</option>
            <option value="Birmingham and Solihull">Birmingham and Solihull</option>
            <option value="Black Country">Black Country</option>
            <option value="Central Scotland">Central Scotland</option>
            <option value="Cheshire">Cheshire</option>
            <option value="Cumbria and Lancashire">Cumbria and Lancashire</option>
            <option value="Devon and Cornwall">Devon and Cornwall</option>
            <option value="Dorset, Wiltshire, Hampshire and Isle of Wight">Dorset, Wiltshire, Hampshire and Isle of Wight</option>
            <option value="Durham and Tees Valley">Durham and Tees Valley</option>
            <option value="East Anglia">East Anglia</option>
            <option value="East London">East London</option>
            <option value="East Scotland">East Scotland</option>
            <option value="Essex">Essex</option>
            <option value="Greater Manchester">Greater Manchester</option>
            <option value="Kent">Kent</option>
            <option value="Leicestershire and Northamptonshire">Leicestershire and Northamptonshire</option>
            <option value="Lincolnshire, Nottinghamshire and Rutland">Lincolnshire, Nottinghamshire and Rutland</option>
            <option value="Mercia">Mercia</option>
            <option value="Merseyside">Merseyside</option>
            <option value="NEPT">National Employer Partnersip Team (NEPT)</option>
            <option value="North and Mid Wales">North and Mid Wales</option>
            <option value="North East Scotland">North East Scotland</option>
            <option value="North East Yorks and the Humber">North East Yorks and the Humber</option>
            <option value="North London">North London</option>
            <option value="Northern Ireland">Northern Ireland</option>
            <option value="Northern Scotland">Northern Scotland</option>
            <option value="Northumberland, Tyne and Wear">Northumberland, Tyne and Wear</option>
            <option value="South East Wales">South East Wales</option>
            <option value="South London">South London</option>
            <option value="South West Scotland">South West Scotland</option>
            <option value="South West Wales">South West Wales</option>
            <option value="South Yorkshire" selected>South Yorkshire</option>
            <option value="Staffordshire and Derbyshire">Staffordshire and Derbyshire</option>
            <option value="Surrey and Sussex">Surrey and Sussex</option>
            <option value="West London">West London</option>
            <option value="West Scotland">West Scotland</option>
            <option value="West Yorkshire">West Yorkshire</option>
          </select>
        </div>

        <p>Group (based on district): North Central</p>
 
       </fieldset>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

      <p><a href="/v3/applicant" class="govuk-link">Cancel</a></p>

    </form>

  </div>

</div>

{% endblock %}