  
{% extends "layout-staff.html" %}

{% block pageTitle %}
  Update the records affected - {% include "v3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v3/_key-details.html" %}
{% endblock %}
{% block beforeContent %}

{# {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }} #}

  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Now update the company records</h1>

        <ol class="govuk-list govuk-list--number">
          <li>Update the original employer record if necessary, such as the contact name or email address.</li>
          <li>Contact the company to remind them of their Disability Confident details, such as their registration number, level and expiry date.</li>
          <li>Delete this duplicate record.</li>
        </ol>

        <p><a href="/v3/applicant">Back to company record</a></p>

      </form>

  </div>

</div>

{% endblock %}