  
{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v3/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v3/_key-details.html" %}
{% endblock %}
{% block beforeContent %}

{# {% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Testing only"
    },
    html: 'Messages are not real and no data is saved.'
  }) }} #}

  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="/v3/status-rejected" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Confirm why you're rejecting the company
            </h1>
          </legend>

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rejection-reason-1" name="rejection-reason" type="radio" value="cannot verify" aria-describedby="rejection-reason-1">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="rejection-reason-1">
                Not able to confirm they are a genuine company
              </label>
              <span id="rejection-reason-1" class="govuk-hint govuk-radios__hint">They cannot register because you could not confirm the details needed to register them.</span>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rejection-reason-2" name="rejection-reason" type="radio" value="not UK" aria-describedby="rejection-reason-2">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="rejection-reason-2">
                Not based in the United Kingdom
              </label>
              <span id="rejection-reason-2" class="govuk-hint govuk-radios__hint">They cannot register because the scheme is only open to companies based in the United Kingdom.</span>
            </div>

          </div>

        </fieldset>

      </div>

      <button class="govuk-button" data-module="govuk-button">Reject company and send confirmation email</button>

    </form>

  </div>


</div>

{% endblock %}