.app-c-tag {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
  padding: 4px 8px 4px;
  margin: 5px 0 0;
  color: govuk-colour('white');
  background-color: govuk-colour('blue');
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}