
{% extends "layout.html" %}

{% block pageTitle %}
  Manage Disibility Confident employers prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <br><br>

        <h1 class="govuk-heading-xl">Manage Disibility Confident employers prototype</h1>

        <p>This is for testing only, do not use it if you want something real to happen.</p>

        <h2 class="govuk-heading-m"><a href="/v1/search">Version 1</a></h2>
        
        <p>Interactions added:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>find a record</li>
          <li>view a record</li>
          <li>accept a registration</li>
          <li>update Disability Confident level and commitments</li>
          <li>delete a record</li>
        </ul>

        <p>Interactions not yet added:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>where no records found</li>
          <li>where multiple records found</li>
          <li>how a certificate is generated and previewed</li>
          <li>where more information needed to accept registration</li>
          <li>reject a registration</li>
          <li>update other employer details</li>
          <li>export records</li> 
        </ul>

        <p><a class="govuk-button" href="/v1/search">Start - version 1</a></p>
    
    </div>
</div>

{% endblock %}
