
{% extends "layout.html" %}

{% block pageTitle %}
  Budgeting Loan Application
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Disibility confidence prototype
          </h1>
          <p>This is for testing only, do not use it if you want something real to happen.</p>

          <h2 class="govuk-heading-m"><a href="/v1/index">version 1</a></h2>
          <p>some content in here of what we've actually done</p>
          <p><a class="govuk-button" href="/v1/index">Start</a></p>
    </div>
</div>

{% endblock %}
